<main class="index-main">
  <div class="info-container">
    <div class="info-item-1">
      <h1>Welcome</h1>
      <h3>To Bitcoin Price Index</h3>
      <p>Select a start and end date to track the Bitcoin value. </p>
    </div>
    <div class="info-item-2">
        {{!-- <div id="error-message">Enter a valid date</div> --}}
    </div>
  </div>

  <div class="date-container">
    <div class="date-set">
      <label for="start-date">From<span class="time-span"> I-----</span></label>
      <input id="start-date" name="start-date" type="date" placeholder="From" min="2019-">
    </div>
    <div class="date-set">
      <label for="end-date"><span class="time-span">-----I </span>To</label>
      <input id="end-date" name="end-date" type="date" placeholder="To">  
    </div>
    <button onclick="drawChart()">Draw Chart</button>
  </div>
  {{>chart}}
</main>