<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link type="text/css" rel='stylesheet' href='./stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
  </head>
  <body>
    {{!-- {{>nav}} --}}
      {{{body}}}
    {{!-- {{>footer}} --}}
  <script src="./javascripts/chart.js" charset="utf-8"></script>  
  </body>
</html>
